<div class="d-flex justify-content-center pt-4">
    <div class="d-flex flex-column w-50">
        <div class="h4 text-center">${TITLE}</div>
        <p>
            A mod for Stardew Valley that allows the player to set the in-game time of day from the settings menu.
            This is mainly a development and testing tool for me, but other might find it useful I guess.
        </p>
        <div class="d-flex justify-content-end">
            <a target="_blank" href="https://github.com/calebstein1/ClockSetter">
                View on GitHub
            </a>
        </div>
    </div>
</div>
