<div class="d-flex justify-content-center pt-4">
    <div class="d-flex flex-column w-50">
        <div class="h4 text-center">${TITLE}</div>
        <p>
            sdvmodman is a suckless-style mod manager for Stardew Valley intended to be a lightweight solution for advanced users.
            It is written in C and is configured at compile time through <code>config.h</code>.
        </p>
        <p>
            Running <code>sdvmodman</code> will launch the interactive CLI interface allowing one to toggle each installed mod between enabled and disabled.
            Running <code>sdvmodman -i &ltpath to mod&gt</code> will install the mod specified.
        </p>
        <div class="d-flex justify-content-end">
            <a target="_blank" href="https://github.com/calebstein1/sdvmodman">
                View on GitHub
            </a>
        </div>
    </div>
</div>
