<div class="d-flex justify-content-center pt-4">
    <div class="d-flex flex-column w-50">
        <div class="h4 text-center">${TITLE}</div>
        <p>
            A mod for Stardew Valley that adds some variability to when the seasons actually change, rather than just changing on the first of each season.
        </p>
        <p>
            Seasons will now change on a random day between 23 of the current season and 7 of the next season, weighted around 1 of the next season.
            For example, the actual change from Spring to Summer can now occur on any day between Spring 23 and Summer 7.
        </p>
        <p>
            About halfway through a season, the weather channel will give hints as to the length of the season, letting the player know whether the current season will be abnormally short, shorter than average, about average, longer than average, or abnormally long.
        </p>
        <p>
            This mod also includes a mechanic to allow out-of-season crops to survive for some amount of time based on a percentage that decreases each day the crop remains out of season, and allows for the purchase of crops for the next season from the general store.
        </p>
        <div class="d-flex justify-content-between">
            <a target="_blank" href="https://www.nexusmods.com/stardewvalley/mods/19904">
                View on NexusMods
            </a>
            <a target="_blank" href="https://github.com/calebstein1/StardewVariableSeasons">
                View on GitHub
            </a>
        </div>
    </div>
</div>
