<nav class="d-flex justify-content-center gap-5">
    <div class="dropdown">
        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mods
        </button>
        <ul class="dropdown-menu">
            <li><div class="dropdown-header">Gameplay Mods</div></li>
            <li><a class="dropdown-item" href="#">Variable Seasons</a></li>
            <li><a class="dropdown-item" href="/cgi-bin/counting-sheep.sh">Counting Sheep</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><div class="dropdown-header">Utility Mods</div></li>
            <li><a class="dropdown-item" href="/cgi-bin/clock-setter.sh">Clock Setter</a></li>
            <li><a class="dropdown-item" href="/cgi-bin/disable-fade.sh">Disable Building Fade</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Utilities
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/cgi-bin/sdvmodman.sh">sdvmodman</a></li>
        </ul>
    </div>
    <a class="btn btn-sm btn-secondary" href="#">
        Contact
    </a>
</nav>