<div class="d-flex justify-content-center pt-4">
    <div class="d-flex flex-column w-50">
        <div class="h4 text-center">${TITLE}</div>
        <img src="${SHTTR_ASSETS}/images/disable-fade.png" alt="Counting Sheep" />
        <p>
            A mod for Stardew Valley that disables the buildings becoming transperent when the player walks behind them.
            If GenericModConfigMenu is installed, you'll get a toggle in the Mod Settings to turn transparency on or off.
        </p>
        <p>
            Idea from the Reddit thread <a target="_blank" href="https://www.reddit.com/r/StardewValleyMods/comments/1d1swvu/mod_to_disable_buildings_fadingbecoming/">here</a>
        </p>
        <div class="d-flex justify-content-between">
            <a target="_blank" href="https://www.nexusmods.com/stardewvalley/mods/24558">
                View on NexusMods
            </a>
            <a target="_blank" href="https://github.com/calebstein1/StardewDisableBuildingFade">
                View on GitHub
            </a>
        </div>
    </div>
</div>
