<div class="d-flex justify-content-center pt-4">
    <div class="d-flex flex-column w-50">
        <p>
            Hi, welcome to my little site here!
            You've found the main home for my Stardew Valley modding hobby, I specialize mostly in C# modding, specifically modifying gameplay mechanics.
        </p>
        <p>
            Please look around the menus above to see what I've been working on, or use the contact link to reach out with any inquiries or potential commission requests.
        </p>
    </div>
</div>